In [20]:
import numpy as np
import pandas as pd


# --- Quiz ---
# DataFrame with cumulative entries and exits for multiple stations
ridership_df = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})
entries_and_exits = pd.DataFrame(
    {'ENTRIESn': [10, 40, 60, 65, 85],
     'EXITSn': [0, 10, 20, 60, 60],
     'UNIT': ['R001', 'R001', 'R001', 'R001', 'R001']},
    index=[0, 1, 2, 3, 4]
)
def applyHourly(cumulative):
    hourly = cumulative - cumulative.shift().fillna(value = 0)
    return hourly
def get_hourly_entries_and_exits(entries_and_exits):
    grouped_data = entries_and_exits.groupby('UNIT')
    ENTRIESn_Hourly = grouped_data['ENTRIESn'].apply(applyHourly)
    EXITSn_Hourly = grouped_data['EXITSn'].apply(applyHourly)
    df = pd.DataFrame ([ENTRIESn_Hourly,EXITSn_Hourly])
    return df
get_hourly_entries_and_exits(entries_and_exits)

         0     1     2     3     4
R001  10.0  30.0  20.0   5.0  20.0
R001   0.0  10.0  10.0  40.0   0.0

In [2]:
ridership_df = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})

In [3]:
ridership_df

   ENTRIESn    EXITSn     TIMEn  UNIT
0   3144312   1088151  00:00:00  R051
1   8936644  13755385  02:00:00  R079
2   3144335   1088159  04:00:00  R051
3   8936658  13755393  06:00:00  R079
4   3144353   1088177  08:00:00  R051
5   8936687  13755598  10:00:00  R079
6   3144424   1088231  12:00:00  R051
7   8936819  13756191  14:00:00  R079
8   3144594   1088275  16:00:00  R051

In [7]:
grouped_data = ridership_df.groupby('UNIT')

In [10]:
print grouped_data['ENTRIESn']

<pandas.core.groupby.SeriesGroupBy object at 0x0000000008E78EB8>

In [11]:
entries_and_exits = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})

In [12]:
grouped_data = entries_and_exits.groupby('UNIT')

In [13]:
def applyHourly(cumulative):
    hourly = cumulative - cumulative.shift().fillna(value = 0)
    return hourly

In [14]:
ENTRIESn_Hourly = applyHourly(grouped_data['ENTRIESn'])
EXITSn_Hourly = applyHourly(grouped_data['EXITSn'])

ValueError: cannot set an array element with a sequence

In [15]:
grouped_data['ENTRIESn']

In [16]:
grouped_data['ENTRIESn'].head()

0    3144312
1    8936644
2    3144335
3    8936658
4    3144353
5    8936687
6    3144424
7    8936819
8    3144594
Name: ENTRIESn, dtype: int64

In [17]:
 ENTRIESn_Hourly = grouped_data['ENTRIESn'].apply(applyHourly)

In [18]:
ENTRIESn_Hourly

0    3144312.0
1    8936644.0
2         23.0
3         14.0
4         18.0
5         29.0
6         71.0
7        132.0
8        170.0
dtype: float64